body {

    background-color: black;
}

header h1 {



    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(197, 235, 62);
    padding-top: 0.3rem;
    text-align: center;
    background-color: rgb(87, 9, 9);
}


.banner {

    background-image: url('../../assets/imgs/Puma-Header.jpg');
    height: 10rem;
    background-size: auto;
    background-position: center;
    background-repeat:repeat;

}

header span {

    background-color: black;
}

main {

    background-color: gray;
    margin-top: 0.5rem;
    border: solid 1px rgb(243, 6, 6);
    display: flex;

}

.imagen {
   
    float: left;
   margin: auto;

}

/* main p {

    width: 80%;
    float: right;
    text-align: justify;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bold;
} */

.caracteristicas {

    background-color: gray;
    margin-top: 0.5rem;
    display: flow-root;
    border: solid 1px rgb(243, 6, 6);
    text-align: center;

}

.caracteristicas h2 {

    padding-bottom: 2rem;

}


.iconos {

    font-size: larger;
    width: 30%;
    float: left;
    padding-right: 1 rem;

}

.fotografia {

    text-align: center;
    padding: 16px;
    background-color: gray;
    margin-top: 0.5rem;
    display: flow-root;
    border: solid 1px rgb(243, 6, 6);
    text-align: center;
    


}

.foto {

    display:inline-block;
    width: 31%;
    margin: 8px;
    


}



.footer {

    background-color: rgb(87, 9, 9);
    text-align: center;
}

.footer p {


    font-size: larger;
    color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.footer a {
    color: darkorange;
}

a:hover {
    color: yellow;
}

.parrafo {

    text-align: justify;
    width: 50%;
    margin: auto;
    
}